@media screen and (min-width: 768px){
    /* header */

    .header-div {
        padding: 40px 40px 0px 39px;
        width: 689px;
    }

    /* typemaster content */

    .typemaster-div {
        padding: 62px 0px 40px 39px ;
        display: flex;
        align-items: center;
        gap: 69px;
        width: 729px;
        margin: 0px auto;
    }

    /* type master content */
    .typemaster-content {
        padding: 0px;
        margin: 0px;
        gap: 0px;
    }

    .typemaster-content h1 {
        width: 339px;
        margin-bottom: 34px;
    }

    .typemaster-content p {
        width: 339px;
        margin-bottom: 39px;
    }

    /* type master button */

    .typemaster-button {
        gap: 37px;
        width: 339px;
    }

    .typemaster-button button {
        padding: 16px 27px 16px 26px;
    }

    .typemaster-image-mobile {
        display: none;
    }

    .typemaster-image {
        padding: 0px;
        margin: 0px;
        width: 378px;
    }

    .typemaster-image-tablet {
        width: 478px;
        height: 425px;
        border-radius: 20px;
    }

    /* mechanical jeyboard */

    .mechanical-keyboard {
        width: 768px;
        gap: 87px;
    }

    /* mechanical keyboard images */

    .first-mobile-img, .second-mobile {
        display: none;
    }

    .mechanical-images {
        padding: 0px 40px 0px 39px;
        width: 689px;
    }

    .first-mobile {
        margin: 0px;
    }
    .first-tablet-img {
        width: 214px;
        height: 320px;
        border-radius: 20px;
        opacity: 0.25;
    }

    .second-tablet {
        width: 445px;
        height: 320px;
        border-radius: 20px;
    }

    /* mechanical content */

    .mechanical-content {
        padding: 0px 40px 0px 39px;
        flex-direction: row;
        gap: 36px;
    }

    .mechanical-content h2 {
        width: 255px;
        text-align: start;
    }

    .mechanical-content p {
        width: 398px;
        text-align: start;
    }

    /* specifications */

    .specifications {
        padding: 142px 98px 142px 39px;
        width: 631px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 69px;
    }

    .specifications-item {
        align-items: start;
    }

    .specifications-item-image {
        margin-bottom: 40px;
    }

    .specifications-item h3 {
        width: 281px;
        text-align: start;
    }

    .specifications-item p {
        width: 281px;
        text-align: start;
    }
}

@media screen and (max-width: 1439px) {
    .typemaster-image-desktop, .desktop-div, .desktop-div-2, .first-desktop-img, .second-desktop {
        display: none;
    }
}